Embeds markup in the synced sig

I have the addon and I like it.

However, I use plaintext email. 

My signature, as per section 4.3 in [RFC 3676](https://www.ietf.org/rfc/rfc3676.txt), is 4 lines of plain text delimited with 

````
-- 
````

I.e. hyphen, hyphen, space.

It's that in Gmail too.

But the sig-sync extension sees that there is a hyperlink and inserts a 2nd copy, inside angle brackets.

It also does this with email addresses.

Desired sig:

````
-- 
Liam Proven ~ Profile: https://about.me/liamproven ~ LinkedIn/X/FB: lproven
Email: lproven@cix.co.uk ~ Google: lproven@gmail.com
IoM: (+44) 7624 227612: UK: (+44) 7939-087884
Czech [+ WhatsApp/Telegram/Signal]: (+420) 702-829-053
```` 

What I get:

````
-- 
Liam Proven ~ Profile: https://about.me/liamproven
<https://about.me/liamproven>
Email: lproven@cix.co.uk <mailto:lproven@cix.co.uk> ~ gMail/gTalk/FB:
lproven@gmail.com <mailto:lproven@gmail.com>
Twitter/LinkedIn: lproven ~ Skype: liamproven
IoM: (+44) 7624 227612: UK: (+44) 7939-087884
Czech [+ WhatsApp/Telegram/Signal]: (+420) 702-829-053
````

This is a real pain and I am considering removing the extension again and just manually copying the sig to and fro.

Is this fixable, please?


Hi! Thanks for the report.

After a quick look, the behaviour you described happens when HTML signature _with links_ is converted by Thunderbird to use in plain-text message. It looks like Gmail makes such a conversion differently (without adding the URL target).

If I read the Gmail documentation correctly, their signature is always HTML (https://developers.google.com/workspace/gmail/api/reference/rest/v1/users.settings.sendAs), so the extension sets the signature type as HTML in Thunderbird. 

The tricky thing is that you say you don't have any links in the Gmail signature - do you have any special settings in Gmail to force it to be plain text? Or you just set the message as plain text?

I did a few tests, and the Gmail just strip any HTML stuff from the signature when switching to plain text:

https://github.com/user-attachments/assets/e06062c2-b510-48ce-8b52-4141ee75b86e

But I was unable to really remove a link from the signature:

https://github.com/user-attachments/assets/ad98506c-0b19-4223-a078-8e5c215b52b3

I'll try to take a look what happens when syncing but setting it as plain text etc. I think the solution may be to add Gmail-compatible plain-text syncing (aka remove all tags before saving to Thunderbird)